:root {
    --chat-text: rgb(150, 150, 150);
    
    &[data-theme=dark] {
        --chat-secondary: rgb(60, 60, 60);
        --chat-primary: rgb(40, 40, 40);
    }
    
    &[data-theme=light] {
        --chat-primary: rgb(245, 245, 245);
        --chat-secondary: white;
    }
}