.authLogo {
    margin-bottom: 50px;
    text-align: center;
    margin-top: 100px;

    .authLogoLink {
        color: var(--color-secondary);
        text-decoration: none;
        font-size: 3rem;
    }
}

.authWrapper {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-primary);
    background: var(--color-third);
    margin: 0 auto auto auto;
    @include centerFlex;
    border-radius: 5px;
    min-height: 450px;
    min-width: 450px;
    padding: 50px;
    @include col;

    .authHeader {
        letter-spacing: 1px;
        margin-bottom: 40px;
        font-size: 2rem;
    }

    .authError {
        margin-top: 10px;
        color: red;
    }

    .inputRow {
        background: var(--color-secondary-gradient);
        border-radius: 20px;
        position: relative;
        margin: 10px 0;
        @include col;
        height: 40px;
        width: 100%;

        input {
            background-color: var(--color-third);
            height: calc(40px - 2px);
            width: calc(100% - 2px);
            border-radius: inherit;
            text-align: center;
            position: relative;
            padding: 10px 50px;
            font-size: 1rem;
            border: 0;
            left: 1px;
            top: 1px;

            &.error {
                border-color: red;
            }

            &::placeholder {
                text-align: center;
            }

            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }
        }

        .inputIcon, .passwordToggler {
            @include centerAbsolute('y');
            height: 20px;
            width: 20px;
        }

        .inputIcon {
            color: var(--text-secondary);
            @include centerFlex;
            left: 20px;
        }

        .passwordToggler {
            @include centerFlex;
            cursor: pointer;
            right: 20px;
            left: unset;
        }
    }

    .rememberRow {
        justify-content: space-between;
        margin: 10px 0;
        @include row;
        width: 100%;

        .checkboxWrapper {
            @include centerFlex;
            @include row;

            label {
                padding-left: 10px;
            }
        }

        .forgotPassword {
            @include centerFlex;
        }
    }

    .authSubmit {
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 12px 20px;
        margin-top: 30px;
    }

    .footer {
        margin-top: auto;
    }
}