.authLogo {
    color: var(--color-secondary);
    margin-bottom: 50px;
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;

    &:hover {
        text-decoration: none;
    }
}

.authWrapper {
    margin: auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-primary);
    @include centerFlex;
    border-radius: 5px;
    min-height: 450px;
    min-width: 450px;
    margin-top: 0;
    padding: 50px;
    @include col;

    .authHeader {
        letter-spacing: 1px;
        margin-bottom: 40px;
        font-size: 2rem;
    }

    .inputRow {
        position: relative;
        margin: 10px 0;
        @include col;
        width: 100%;

        input {
            border-radius: 20px;
            text-align: center;
            padding: 10px 50px;
            background: none;
            font-size: 1rem;

            &.error {
                border-color: red;

                &::placeholder {
                    color: red;
                    opacity: 1;
                }
            }

            &::placeholder {
                text-align: center;
            }

            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }
        }

        .inputIcon, .passwordToggler {
            @include centerAbsolute('y');
            height: 20px;
            width: 20px;
        }

        .inputIcon {
            color: var(--text-secondary);
            @include centerFlex;
            left: 20px;
        }

        .passwordToggler {
            @include centerFlex;
            cursor: pointer;
            right: 20px;
            left: unset;
        }
    }

    .rememberRow {
        justify-content: space-between;
        margin: 10px 0;
        @include row;
        width: 100%;

        .checkboxWrapper {
            @include centerFlex;
            @include row;

            label {
                padding-left: 5px;
            }
        }

        .forgotPassword {
            @include centerFlex;
        }
    }

    .authSubmit {
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 12px 20px;
        margin-top: 30px;
    }

    .footer {
        margin-top: auto;
    }
}