.authWrapper {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-primary);
    @include centerFlex;
    border-radius: 5px;
    min-height: 500px;
    min-width: 500px;
    max-width: 50%;
    @include col;
    margin: auto;
    padding: 3%;

    .authHeader {
        margin-bottom: 40px;
    }

    .inputRow {
        margin: 10px 0;
        @include col;
        width: 100%;

        input {
            border-color: var(--color-secondary);
            background: var(--color-primary);
            border-radius: 20px;
            text-align: center;
            padding: 10px 20px;
            font-weight: 600;
            font-size: 1rem;

            &::placeholder {
                text-align: center;
            }

            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }
        }
    }

    .rememberRow {
        justify-content: space-between;
        margin: 10px 0;
        @include row;
        width: 100%;

        .checkboxWrapper {
            @include centerFlex;
            @include row;

            label {
                padding-left: 5px;
            }
        }
    }

    .authSubmit {
        border-radius: 20px;
        padding: 12px 20px;
        margin-top: 30px;
    }

    .signup {
        margin-top: auto;
    }
}