#toolbar {
    transform: translateY(-50%);
    @include centerFlex;
    z-index: 1000000;
    position: fixed;
    @include col;
    width: 40px;
    right: 20px;
    top: 50%;

    #themeToggler {
        @include centerFlex;
        font-size: 2rem;
        width: inherit;
        height: 40px;

        @keyframes themeToggler {
            50% {
                transform: scale(1.15);
            }
            100% {
                transform: scale(1);
            }
        }
    }

    #languageToggler {
        position: relative;
        margin-top: 10px;
        width: inherit;
        height: 40px;
    }
}

#chat {
    z-index: 100000000;
    position: fixed;
    bottom: 20px;
    right: 20px;
}