.btnPrimary {
    transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
    background-image: var(--color-main-gradient);
    background-color: var(--color-main);
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    color: black;

    &.block {
        width: 100%;
    }
}

.btnSecondary {

}

.scrollbar {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid var(--color-main);
        background: rgba(0, 0, 0, 0.35);
        background-clip: padding-box;
        border-radius: 10px;
    }
}

input {
    border: 1px solid var(--border-secondary);
    color: var(--text-primary);
    border-radius: 2px;
    padding: 6px;

    &::placeholder {
        color: var(--color-neutral);
        user-select: none;
        opacity: 0.5;
        padding: 0;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}

a {
    color: var(--color-link);

    &:hover {
        text-decoration: underline;
    }
}