.btnPrimary {
    transition: background 0.15s linear, color 0.15s linear;
    background: rgb(0, 127, 255);
    height: fit-content;
    border-radius: 4px;
    width: fit-content;
    font-weight: bold;
    color: white;
    padding: 10px;

    &.block {
        width: 100%;
    }

    &:hover {
        background: rgb(0, 100, 255);
    }
}

.btnDashboard {
    background: var(--dashboard-primary);
    transition: background 0.05s linear;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 0.9rem;
    color: white;
    display: flex;
    padding: 8px;

    span {
        align-self: center;
        margin-left: 2px;
    }

    &.delete {
        background: rgb(200, 0 ,0);

        &:hover {
            background: rgb(175, 0, 0);
        }
    }

    &.suspend {
        background: rgb(255, 127, 0);

        &:hover {
            background: rgb(255, 100, 0);
        }
    }

    &:hover{
        background: rgb(5, 15, 20);
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid var(--color-main);
        background: rgba(0, 0, 0, 0.10);
        background-clip: padding-box;
        border-radius: 10px;
    }
}

input {
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    border-radius: 2px;
    padding: 6px;

    &::placeholder {
        color: var(--color-neutral);
        user-select: none;
        opacity: 0.5;
        padding: 0;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}

a {
    color: var(--color-link);

    &:hover {
        text-decoration: underline;
    }
}

.centerFlex {
    justify-items: center;
    align-content: center;
    display: flex;
}

.centerAbsolute {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}