.btn {
    background-image: var(--color-main-gradient);
    background-color: var(--color-main);
    transition: all 0.1s linear;
    color: var(--color-primary);
    border-radius: 3px;
    width: fit-content;
    user-select: none;
    padding: 8px 12px;

    &:hover,
    &[disabled] {
        background-color: var(--color-main-dark);
    }

    &[disabled] {
        cursor: default;
    }
}

.btn-outline {
    @extend .btn;

    background-color: var(--color-primary);
    border: 2px solid var(--color-main);
    color: var(--color-main);

    &:hover {
        background-color: var(--color-main);
        color: var(--color-primary);
    }
}

.adminBtn {
    @extend .btn;
    
    background-color: rgb(15, 15, 15);

    &:hover {
        background-color: rgb(20, 20, 20);
    }
}

// Loading wheel
.loadingWheel {
    color: var(--color-main);
    width: 25px;
}
.loadingWheel-2 {
    color: var(--color-main);
    width: 50px;
}
.loadingWheel-3 {
    color: var(--color-main);
    width: 75px;
}
.loadingWheel-4 {
    color: var(--color-main);
    width: 100px;
}

input {
    width: 100%;
}

a {
    // Clearance colors
    &.color-1 {
        color: var(--color-1);
    }
    &.color-2 {
        color: var(--color-2);
    }
    &.color-3 {
        color: var(--color-3);
    }
}

.outline {
    transition: all 0.05s linear;
    &:focus {
        box-shadow: 0 0 0 1px var(--color-main-dark);
    }
}

.ucfirst {
    text-transform: capitalize;
}
