.btnPrimary {
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-secondary);
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    color: black;

    &.block {
        width: 100%;
    }

    &:hover, &:focus {
        //background-color: var(--color-secondary-dark);
    }
}

.btnSecondary {

}

.scrollbar {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-secondary);
        border: 1px solid transparent;
        background-clip: padding-box;
        border-radius: 10px;
    }
}

input {
    border: 1px solid var(--border-secondary);
    color: var(--text-primary);
    border-radius: 2px;
    padding: 6px;

    &::placeholder {
        color: var(--text-neutral);
        user-select: none;
        opacity: 0.5;
        padding: 0;
    }

    &::-webkit-autofill, ::-webkit-autofill {
        color: red;
    }
}

a {
    color: var(--color-link);

    &:hover {
        text-decoration: underline;
    }
}