.header {
    padding: 0 var(--container-margin);
    background: var(--color-gray);
    @include centerFlex;
    position: relative;
    @include col;
    padding: 3%;

    #themeToggler {
        position: absolute;
        font-size: 2rem;
        height: 50px;
        width: 50px;
        right: 10px;
        top: 10px;

        .togglerIcon {
            transition: transform 0.15s linear;
            @include centerFlex;
            cursor: pointer;
            height: 100%;
            width: 100%;

            &:hover {
                transform: scale(1.1);
            }

            &.light {
                color: rgb(207, 176, 0);
            }

            &.dark {
                color: white;
            }
        }
    }

    .siteHeaderLink {
        color: var(--color-secondary);
        letter-spacing: 2px;
        margin-bottom: 40px;
        padding: 10px 20px;
        line-height: 0.7;
        font-size: 2rem;
    }

    .navbar {
        @include row;

        .navlist {
            @include row;

            .navitem {
                margin: 0 20px;

                .navlink {
                    transition: color 0.25s ease-out;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    position: relative;
                    font-weight: 600;
                    color: white;
                    padding: 10px;

                    &::after {
                        background: var(--color-secondary);
                        transition: width 0.25s ease-out;
                        border-radius: 10px;
                        position: absolute;
                        content: '';
                        height: 2px;
                        bottom: 0;
                        width: 0;
                        left: 0;
                    }

                    &:hover, &.active {
                        color: var(--color-secondary);

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}