.header {
    padding: 0 var(--container-margin);
    background: var(--color-gray);
    @include centerFlex;
    position: relative;
    padding: 50px;
    @include col;

    .siteHeader {
        letter-spacing: 2px;
        margin-bottom: 40px;
        padding: 10px 20px;

        .siteHeaderLink {
            background: var(--color-secondary-gradient);
            color: var(--color-secondary); // fallback
            text-decoration: none; 
            @include knockout;
            line-height: 0.7;
            font-size: 3rem;
        }
    }

    .navbar {
        @include row;

        .navlist {
            @include row;

            .navitem {
                margin: 0 20px;

                .navlink {
                    transition: color 0.25s ease-out;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 1px;
                    position: relative;
                    font-weight: 600;
                    color: white;
                    padding: 10px;

                    &::after {
                        background: var(--color-secondary);
                        transition: width 0.25s ease-out;
                        border-radius: 10px;
                        position: absolute;
                        content: '';
                        height: 2px;
                        bottom: 0;
                        width: 0;
                        left: 0;
                    }

                    &:hover, &.active {
                        color: var(--color-secondary);

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}