@mixin centerFlex($direction: 'all') {
    display: flex;
    @if $direction == 'all' {
        justify-content: center;
        align-items: center;
    } @else if ($direction == 'x') {
        justify-content: center;
    } @else if ($direction == 'y') {
        align-items: center;
    } @else {
        @error 'Invalid direction: #{$direction}';
    }
}

@mixin centerAbsolute($direction: 'all') {
    position: absolute;
    @if $direction == 'all' {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    } @else if ($direction == 'x') {
        transform: translateX(-50%);
        left: 50%;
        top: 0;
    } @else if ($direction == 'y') {
        transform: translateY(-50%);
        top: 50%;
        left: 0;
    } @else {
        @error 'Invalid direction: #{$direction}';
    }
}

@mixin row {
    flex-direction: row;
    display: flex;
}

@mixin col {
    flex-direction: column;   
    display: flex;
}

@mixin knockout {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    user-select: none;
}