:root {
    --color-secondary-gradient: linear-gradient(
        45deg, 
        rgb(0, 255, 236) 0%,
        rgb(0, 255, 211) 20%,
        rgb(0, 255, 186) 50%,
        rgb(0, 255, 161) 75%,
        rgb(0, 255, 136) 100%
    );
    --color-secondary: rgb(0, 255, 186);
    --color-neutral: rgb(150, 150, 150);
    --color-gray: rgb(20, 20, 20);
    --container-margin: 25vw;

    &[data-theme=dark] {
        --border-secondary: var(--color-secondary);
        --text-secondary: rgb(245, 245, 245);
        --border-primary: rgb(100, 100, 100);
        --color-primary: rgb(50, 50, 50);
        --color-third: rgb(30, 30, 30);
        --color-link: rgb(0, 225, 250);
        --body-bg: rgb(15, 15, 15);
        --text-primary: white;

        ::selection {
            background: var(--color-secondary);
            color: black;
        }
    }

    &[data-theme=light] {
        --border-secondary: rgb(150, 150, 150);
        --border-primary: rgb(200, 200, 200);
        --color-primary: rgb(250, 250, 250);
        --text-secondary: rgb(50, 50, 50);
        --color-third: rgb(245, 245, 245);
        --color-link: rgb(0, 127, 255);
        --body-bg: rgb(250, 250, 250);
        --text-primary: black;

        ::selection {
            color: var(--color-secondary);
            background: black;
        }
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-secondary);
        border: 1px solid transparent;
        background-clip: padding-box;
        border-radius: 10px;
    }

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: 0;
    padding: 0;
    margin: 0;
}

img, svg, button {
    user-select: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

button {
    font-size: 1rem;
    cursor: pointer;
    border: 0;
}

label {
    user-select: none;
    cursor: pointer;
}

body {
    background-color: var(--body-bg);
    color: var(--text-secondary);
    min-height: 100vh;
    font-size: 100%;
    @include col;
}

#app {
    @include col;
    flex: 1;
}

#content {
    padding: 25px;
    @include col;
    flex: 1;
}