:root {
    &[data-theme=dark] {
        --text-secondary: rgb(200, 200, 200);
        --border-primary: rgb(100, 100, 100);
        --color-primary: rgb(50, 50, 50);
        --body-bg: rgb(15, 15, 15);
        --text-primary: white;
    }

    &[data-theme=light] {
        --border-primary: rgb(200, 200, 200);
        --color-primary: rgb(250, 250, 250);
        --text-secondary: rgb(30, 30, 30);
        --text-primary: black;
        --body-bg: white;
    }

    --color-secondary: rgb(255, 100, 0);
    --container-margin: 25vw;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    padding: 0;
    margin: 0;
}

::selection {
    background: var(--color-secondary);
    color: white;
}

img, svg, button {
    user-select: none;
}

button {
    border: 0;
}

body {
    background-color: var(--body-bg);
    color: var(--text-secondary);
    overflow-y: scroll;
}

#app {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}