:root {
    --color-main-gradient: linear-gradient(
        45deg, 
        rgb(0, 200, 75) 0%,
        rgb(0, 200, 100) 25%,
        rgb(0, 200, 125) 50%,
        rgb(0, 200, 150) 75%,
        rgb(0, 200, 175) 100%
    );
    --color-primary: white;
    --color-secondary: rgb(245, 245, 245);
    --color-dark: rgb(20, 20, 20);
    --color-link: rgb(80, 130, 255);
    --color-main: rgb(0, 200, 125);
    --color-main-dark: rgb(0, 175, 100);
    --color-danger: rgb(200, 0, 0);

    --border-primary: rgb(200, 200, 200);
    --border-secondary: rgb(150, 150, 150);

    --text-primary: black;
    --text-secondary: rgb(50, 50, 50);

    --container-margin: 15vw;

    --body-bg: rgb(250, 250, 250);

    // Role colors
    --color-1: var(--color-main);
    --color-2: rgb(200, 0, 0);
    --color-3: rgb(200, 100, 0);
}
