:root {
    --color-main-gradient: linear-gradient(
        45deg, 
        rgb(0, 200, 175) 0%,
        rgb(0, 200, 150) 20%,
        rgb(0, 200, 125) 50%,
        rgb(0, 200, 100) 75%,
        rgb(0, 200, 75) 100%
    );
    --color-primary: white;
    --color-secondary: rgb(245, 245, 245);
    --color-darkGray: rgb(20, 20, 20);
    --color-link: rgb(0, 100, 255);
    --color-main: rgb(0, 200, 125);
    --color-main-dark: rgb(0, 175, 100);

    --border-primary: rgb(200, 200, 200);
    --border-secondary: rgb(150, 150, 150);

    --text-primary: black;
    --text-secondary: rgb(50, 50, 50);

    --container-margin: 15vw;

    --body-bg: rgb(250, 250, 250);
}
