:root {
    // Colors
    --color-main-gradient: linear-gradient(
        45deg, 
        rgb(0, 175, 50) 0%,
        rgb(0, 175, 75) 25%,
        rgb(0, 175, 100) 50%,
        rgb(0, 175, 125) 75%,
        rgb(0, 175, 150) 100%
    );
    --color-main-gradient-rotated: linear-gradient(
        -135deg, 
        rgb(0, 175, 50) 0%,
        rgb(0, 175, 75) 25%,
        rgb(0, 175, 100) 50%,
        rgb(0, 175, 125) 75%,
        rgb(0, 175, 150) 100%
    );
    --color-primary: white;
    --color-secondary: rgb(245, 245, 245);
    --color-dark: rgb(20, 20, 20);
    --color-link: rgb(80, 130, 255);
    --color-main: rgb(0, 175, 100);
    --color-main-dark: rgb(0, 150, 75);
    --color-danger: rgb(200, 0, 0);
    --color-body: rgb(250, 250, 250);

    // Borders
    --border-primary: rgb(200, 200, 200);
    --border-secondary: rgb(150, 150, 150);

    // Text
    --text-primary: black;
    --text-secondary: rgb(75, 75, 75);

    // Sizes
    --container-margin: 15vw;

    // Role colors
    --color-1: var(--color-main);
    --color-2: rgb(200, 0, 0);
    --color-3: rgb(200, 100, 0);
}
