@import url('https://cdn.angelin.dev/css/v1.0/app.css');
@import './variables';
@import './elements';
@import './fonts';

*,
*::before,
*::after {
    outline: 0;
}

body {
    background-color: var(--body-bg);
    color: var(--text-primary);
    font-family: Roboto;
}

#app {
    min-height: 100vh;
}

::selection {
    background-color: var(--color-main);
    color: white;
}

a,
button {
    cursor: pointer;
}

a {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img,
svg,
button {
    user-select: none;
}

svg {
    width: 25px;
}
