@import url('https://cdn.angelin.dev/css/v1.0/app.css');
@import './variables';
@import './elements';
@import './fonts';

*,
*::before,
*::after {
    outline: 0;
}

:root {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg);
    color: var(--text-primary);
    font-family: Roboto;
}

#app {
    min-height: 100vh;
}

::selection {
    background-color: var(--color-main);
    color: white;
}

a,
button {
    cursor: pointer;
}

a {
    transition: all 0.05s linear;
    color: var(--color-link);
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
        color: var(--color-link);
    }
}

img,
svg,
button {
    user-select: none;
}

svg {
    width: 25px;
}

label {
    width: fit-content;
    cursor: text;
}
