@import url(https://cdn.angelin.dev/css/v1.0/app.css);:root {
  --color-main-gradient: linear-gradient(
      45deg,
      rgb(0, 215, 180) 0%,
      rgb(0, 215, 165) 20%,
      rgb(0, 215, 140) 50%,
      rgb(0, 215, 115) 75%,
      rgb(0, 215, 90) 100%
  );
  --color-primary: white;
  --color-secondary: rgb(245, 245, 245);
  --color-darkGray: rgb(20, 20, 20);
  --color-link: rgb(0, 100, 255);
  --color-main: rgb(0, 215, 140);
  --color-main-dark: rgb(0, 175, 100);
  --border-primary: rgb(200, 200, 200);
  --border-secondary: rgb(150, 150, 150);
  --text-primary: black;
  --text-secondary: rgb(50, 50, 50);
  --container-margin: 15vw;
  --body-bg: rgb(250, 250, 250);
}

.adminBtn {
  background-color: #0f0f0f;
}

.adminBtn:hover {
  background-color: #141414;
}

.btn,
.btn-outline {
  background-color: var(--color-main);
  transition: all 0.1s linear;
  color: var(--color-primary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 5px;
}

.btn:hover,
.btn-outline:hover,
.btn[disabled],
[disabled].btn-outline {
  background-color: var(--color-main-dark);
}

.btn[disabled],
[disabled].btn-outline {
  pointer-events: none;
}

.btn-outline {
  background-color: var(--color-primary);
  border: 2px solid var(--color-main);
  color: var(--color-main);
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 12px;
}

.btn-outline:hover {
  background-color: var(--color-main);
  color: var(--color-primary);
}

.loadingWheel {
  color: var(--color-main);
  width: 25px;
}

.loadingWheel-2 {
  color: var(--color-main);
  width: 50px;
}

.loadingWheel-3 {
  color: var(--color-main);
  width: 75px;
}

.loadingWheel-4 {
  color: var(--color-main);
  width: 100px;
}

@font-face {
  src: url("/storage/fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
}

@font-face {
  src: url("/storage/fonts/Raleway-VariableFont_wght.ttf");
  font-family: "Raleway";
}

*,
*::before,
*::after {
  outline: 0;
}

body {
  background-color: var(--body-bg);
  color: var(--text-primary);
  font-family: Roboto;
}

#app {
  min-height: 100vh;
}

::-moz-selection {
  background-color: var(--color-main);
  color: white;
}

::selection {
  background-color: var(--color-main);
  color: white;
}

a,
button {
  cursor: pointer;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img,
svg,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

svg {
  width: 25px;
}

