@import url(https://fonts.googleapis.com/css?family=Nunito);:root {
  --color-secondary-gradient: linear-gradient(
      45deg,
      rgb(0, 255, 236) 0%,
      rgb(0, 255, 211) 20%,
      rgb(0, 255, 186) 50%,
      rgb(0, 255, 161) 75%,
      rgb(0, 255, 136) 100%
  );
  --color-secondary: rgb(0, 255, 136);
  --color-neutral: rgb(150, 150, 150);
  --color-gray: rgb(20, 20, 20);
  --container-margin: 25vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

:root[data-theme=dark] {
  --border-secondary: var(--color-secondary);
  --text-secondary: rgb(245, 245, 245);
  --border-primary: rgb(100, 100, 100);
  --color-primary: rgb(50, 50, 50);
  --color-third: rgb(30, 30, 30);
  --color-link: rgb(0, 225, 250);
  --body-bg: rgb(15, 15, 15);
  --text-primary: white;
}

:root[data-theme=dark] ::-moz-selection {
  background: var(--color-secondary);
  color: black;
}

:root[data-theme=dark] ::selection {
  background: var(--color-secondary);
  color: black;
}

:root[data-theme=light] {
  --border-secondary: rgb(150, 150, 150);
  --border-primary: rgb(200, 200, 200);
  --color-primary: rgb(250, 250, 250);
  --text-secondary: rgb(50, 50, 50);
  --color-third: rgb(245, 245, 245);
  --color-link: rgb(0, 127, 255);
  --body-bg: rgb(250, 250, 250);
  --text-primary: black;
}

:root[data-theme=light] ::-moz-selection {
  color: var(--color-secondary);
  background: black;
}

:root[data-theme=light] ::selection {
  color: var(--color-secondary);
  background: black;
}

:root ::-webkit-scrollbar {
  width: 12px;
}

:root ::-webkit-scrollbar-track {
  background: none;
}

:root ::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

img,
svg,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

button {
  font-size: 1rem;
  cursor: pointer;
  border: 0;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

body {
  background-color: var(--body-bg);
  color: var(--text-secondary);
  min-height: 100vh;
  font-size: 100%;
  flex-direction: column;
  display: flex;
}

#app {
  flex-direction: column;
  display: flex;
  flex: 1;
}

#content {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.btnPrimary {
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  background-image: var(--color-secondary-gradient);
  background-color: var(--color-secondary);
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  color: black;
}

.btnPrimary.block {
  width: 100%;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

input {
  border: 1px solid var(--border-secondary);
  color: var(--text-primary);
  border-radius: 2px;
  padding: 6px;
}

input::-moz-placeholder {
  color: var(--color-neutral);
  -moz-user-select: none;
       user-select: none;
  opacity: 0.5;
  padding: 0;
}

input:-ms-input-placeholder {
  color: var(--color-neutral);
  -ms-user-select: none;
      user-select: none;
  opacity: 0.5;
  padding: 0;
}

input::-ms-input-placeholder {
  color: var(--color-neutral);
  -ms-user-select: none;
      user-select: none;
  opacity: 0.5;
  padding: 0;
}

input::placeholder {
  color: var(--color-neutral);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.5;
  padding: 0;
}

input::-webkit-autofill,
input ::-webkit-autofill {
  color: red;
}

a {
  color: var(--color-link);
}

a:hover {
  text-decoration: underline;
}

.header {
  padding: 0 var(--container-margin);
  background: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px;
  flex-direction: column;
  display: flex;
}

.header .siteHeaderLink {
  color: var(--color-secondary);
  text-decoration: none;
  letter-spacing: 2px;
  margin-bottom: 40px;
  padding: 10px 20px;
  line-height: 0.7;
  font-size: 2rem;
}

.header .navbar {
  flex-direction: row;
  display: flex;
}

.header .navbar .navlist {
  flex-direction: row;
  display: flex;
}

.header .navbar .navlist .navitem {
  margin: 0 20px;
}

.header .navbar .navlist .navitem .navlink {
  transition: color 0.25s ease-out;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  font-weight: 600;
  color: white;
  padding: 10px;
}

.header .navbar .navlist .navitem .navlink::after {
  background: var(--color-secondary);
  transition: width 0.25s ease-out;
  border-radius: 10px;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  width: 0;
  left: 0;
}

.header .navbar .navlist .navitem .navlink:hover,
.header .navbar .navlist .navitem .navlink.active {
  color: var(--color-secondary);
}

.header .navbar .navlist .navitem .navlink:hover::after,
.header .navbar .navlist .navitem .navlink.active::after {
  width: 100%;
}

.authLogo {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 100px;
}

.authLogo .authLogoLink {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 3rem;
}

.authWrapper {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-primary);
  background: var(--color-third);
  margin: 0 auto auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 450px;
  min-width: 450px;
  padding: 50px;
  flex-direction: column;
  display: flex;
}

.authWrapper .authHeader {
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-size: 2rem;
}

.authWrapper .authError {
  margin-top: 10px;
  color: red;
}

.authWrapper .inputRow {
  background: var(--color-secondary-gradient);
  border-radius: 20px;
  position: relative;
  margin: 10px 0;
  flex-direction: column;
  display: flex;
  height: 40px;
  width: 100%;
}

.authWrapper .inputRow input {
  background-color: var(--color-third);
  height: calc(40px - 2px);
  width: calc(100% - 2px);
  border-radius: inherit;
  text-align: center;
  position: relative;
  padding: 10px 50px;
  font-size: 1rem;
  border: 0;
  left: 1px;
  top: 1px;
}

.authWrapper .inputRow input.error {
  border-color: red;
}

.authWrapper .inputRow input::-moz-placeholder {
  text-align: center;
}

.authWrapper .inputRow input:-ms-input-placeholder {
  text-align: center;
}

.authWrapper .inputRow input::-ms-input-placeholder {
  text-align: center;
}

.authWrapper .inputRow input::placeholder {
  text-align: center;
}

.authWrapper .inputRow input:focus::-moz-placeholder {
  opacity: 0;
}

.authWrapper .inputRow input:focus:-ms-input-placeholder {
  opacity: 0;
}

.authWrapper .inputRow input:focus::-ms-input-placeholder {
  opacity: 0;
}

.authWrapper .inputRow input:focus::placeholder {
  opacity: 0;
}

.authWrapper .inputRow .inputIcon,
.authWrapper .inputRow .passwordToggler {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
}

.authWrapper .inputRow .inputIcon {
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
}

.authWrapper .inputRow .passwordToggler {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 20px;
  left: unset;
}

.authWrapper .rememberRow {
  justify-content: space-between;
  margin: 10px 0;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.authWrapper .rememberRow .checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.authWrapper .rememberRow .checkboxWrapper label {
  padding-left: 10px;
}

.authWrapper .rememberRow .forgotPassword {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authWrapper .authSubmit {
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 12px 20px;
  margin-top: 30px;
}

.authWrapper .footer {
  margin-top: auto;
}

#footer {
  background: var(--color-gray);
  color: var(--color-secondary);
  text-align: center;
  margin-top: auto;
  padding: 2%;
}

#themeToggler {
  position: absolute;
  font-size: 2rem;
  right: 10px;
  top: 10px;
}

@-webkit-keyframes themeToggler {
  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes themeToggler {
  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

