@import url(https://fonts.googleapis.com/css?family=Nunito);:root {
  --color-secondary-faded: rgba(0, 220, 250, 0.25);
  --color-secondary: rgb(0, 255, 136);
  --text-neutral: rgb(150, 150, 150);
  --color-gray: rgb(20, 20, 20);
  --container-margin: 25vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

:root[data-theme=dark] {
  --text-secondary: rgb(245, 245, 245);
  --border-primary: rgb(100, 100, 100);
  --color-primary: rgb(50, 50, 50);
  --color-link: rgb(0, 225, 250);
  --body-bg: rgb(15, 15, 15);
  --text-primary: white;
}

:root[data-theme=dark] ::-moz-selection {
  background: var(--color-secondary);
  color: black;
}

:root[data-theme=dark] ::selection {
  background: var(--color-secondary);
  color: black;
}

:root[data-theme=light] {
  --border-primary: rgb(200, 200, 200);
  --color-primary: rgb(240, 240, 240);
  --text-secondary: rgb(50, 50, 50);
  --color-link: rgb(0, 127, 255);
  --text-primary: black;
  --body-bg: white;
}

:root[data-theme=light] ::-moz-selection {
  color: var(--color-secondary);
  background: black;
}

:root[data-theme=light] ::selection {
  color: var(--color-secondary);
  background: black;
}

:root ::-webkit-scrollbar {
  width: 12px;
}

:root ::-webkit-scrollbar-track {
  background: none;
}

:root ::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

img,
svg,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  font-size: 1rem;
  cursor: pointer;
  border: 0;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

body {
  background-color: var(--body-bg);
  color: var(--text-secondary);
  min-height: 100vh;
  font-size: 100%;
  flex-direction: column;
  display: flex;
}

#app {
  flex-direction: column;
  display: flex;
  flex: 1;
}

#content {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.btnPrimary {
  transition: background-color 0.15s ease-in-out;
  background-color: var(--color-secondary);
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  color: black;
}

.btnPrimary.block {
  width: 100%;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

input {
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  border-radius: 2px;
  padding: 6px;
}

input::-moz-placeholder {
  color: var(--text-neutral);
  -moz-user-select: none;
       user-select: none;
  opacity: 0.5;
  padding: 0;
}

input:-ms-input-placeholder {
  color: var(--text-neutral);
  -ms-user-select: none;
      user-select: none;
  opacity: 0.5;
  padding: 0;
}

input::-ms-input-placeholder {
  color: var(--text-neutral);
  -ms-user-select: none;
      user-select: none;
  opacity: 0.5;
  padding: 0;
}

input::placeholder {
  color: var(--text-neutral);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.5;
  padding: 0;
}

a {
  color: var(--color-link);
}

a:hover {
  text-decoration: underline;
}

.header {
  padding: 0 var(--container-margin);
  background: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  display: flex;
  padding: 3%;
}

.header #themeToggler {
  position: absolute;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  right: 10px;
  top: 10px;
}

.header #themeToggler .togglerIcon {
  transition: transform 0.15s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.header #themeToggler .togglerIcon:hover {
  transform: scale(1.1);
}

.header #themeToggler .togglerIcon.light {
  color: #cfb000;
}

.header #themeToggler .togglerIcon.dark {
  color: white;
}

.header .siteHeaderLink {
  color: var(--color-secondary);
  letter-spacing: 2px;
  margin-bottom: 40px;
  padding: 10px 20px;
  line-height: 0.7;
  font-size: 2rem;
}

.header .navbar {
  flex-direction: row;
  display: flex;
}

.header .navbar .navlist {
  flex-direction: row;
  display: flex;
}

.header .navbar .navlist .navitem {
  margin: 0 20px;
}

.header .navbar .navlist .navitem .navlink {
  transition: color 0.25s ease-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-weight: 600;
  color: white;
  padding: 10px;
}

.header .navbar .navlist .navitem .navlink::after {
  background: var(--color-secondary);
  transition: width 0.25s ease-out;
  border-radius: 10px;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  width: 0;
  left: 0;
}

.header .navbar .navlist .navitem .navlink:hover,
.header .navbar .navlist .navitem .navlink.active {
  color: var(--color-secondary);
}

.header .navbar .navlist .navitem .navlink:hover::after,
.header .navbar .navlist .navitem .navlink.active::after {
  width: 100%;
}

.authWrapper {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 500px;
  min-width: 500px;
  max-width: 50%;
  flex-direction: column;
  display: flex;
  margin: auto;
  padding: 3%;
}

.authWrapper .authHeader {
  margin-bottom: 40px;
}

.authWrapper .inputRow {
  margin: 10px 0;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.authWrapper .inputRow input {
  border-color: var(--color-secondary);
  background: var(--color-primary);
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
}

.authWrapper .inputRow input::-moz-placeholder {
  text-align: center;
}

.authWrapper .inputRow input:-ms-input-placeholder {
  text-align: center;
}

.authWrapper .inputRow input::-ms-input-placeholder {
  text-align: center;
}

.authWrapper .inputRow input::placeholder {
  text-align: center;
}

.authWrapper .inputRow input:focus::-moz-placeholder {
  opacity: 0;
}

.authWrapper .inputRow input:focus:-ms-input-placeholder {
  opacity: 0;
}

.authWrapper .inputRow input:focus::-ms-input-placeholder {
  opacity: 0;
}

.authWrapper .inputRow input:focus::placeholder {
  opacity: 0;
}

.authWrapper .rememberRow {
  justify-content: space-between;
  margin: 10px 0;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.authWrapper .rememberRow .checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.authWrapper .rememberRow .checkboxWrapper label {
  padding-left: 5px;
}

.authWrapper .authSubmit {
  border-radius: 20px;
  padding: 12px 20px;
  margin-top: 30px;
}

.authWrapper .signup {
  margin-top: auto;
}

#footer {
  background: var(--color-gray);
  color: var(--color-secondary);
  text-align: center;
  margin-top: auto;
  padding: 2%;
}

