@import url(https://cdn.angelin.dev/css/v1.0/app.css);:root {
  --color-main-gradient: linear-gradient(
      45deg,
      rgb(0, 215, 180) 0%,
      rgb(0, 215, 165) 20%,
      rgb(0, 215, 140) 50%,
      rgb(0, 215, 115) 75%,
      rgb(0, 215, 90) 100%
  );
  --color-primary: white;
  --color-secondary: rgb(245, 245, 245);
  --color-darkGray: rgb(20, 20, 20);
  --color-link: rgb(0, 127, 255);
  --color-main: rgb(0, 215, 140);
  --border-primary: rgb(200, 200, 200);
  --border-secondary: rgb(150, 150, 150);
  --text-primary: black;
  --text-secondary: rgb(50, 50, 50);
  --container-margin: 15vw;
  --body-bg: rgb(250, 250, 250);
}

@font-face {
  src: url("/storage/fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
}

@font-face {
  src: url("/storage/fonts/Raleway-VariableFont_wght.ttf");
  font-family: "Raleway";
}

body {
  background-color: var(--body-bg);
  font-family: Roboto;
}

