@import url(https://fonts.googleapis.com/css?family=Nunito);:root {
  --color-secondary-light: rgb(255, 127, 0);
  --color-secondary-dark: rgb(235, 78, 0);
  --color-secondary: rgb(255, 100, 0);
  --container-margin: 25vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

:root[data-theme=dark] {
  --text-secondary: rgb(200, 200, 200);
  --border-primary: rgb(100, 100, 100);
  --color-primary: rgb(50, 50, 50);
  --body-bg: rgb(15, 15, 15);
  --text-primary: white;
}

:root[data-theme=light] {
  --border-primary: rgb(200, 200, 200);
  --color-primary: rgb(250, 250, 250);
  --text-secondary: rgb(30, 30, 30);
  --text-primary: black;
  --body-bg: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background: var(--color-secondary);
  color: white;
}

::selection {
  background: var(--color-secondary);
  color: white;
}

img,
svg,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  font-size: 1rem;
  cursor: pointer;
  border: 0;
}

body {
  background-color: var(--body-bg);
  color: var(--text-secondary);
  overflow-y: scroll;
  font-size: 100%;
}

#app {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

.btnPrimary {
  transition: background-color 0.15s ease-in-out;
  background-color: var(--color-secondary);
  padding: 5rem 0.75rem;
  border-radius: 2px;
  font-weight: bold;
  color: white;
}

.btnPrimary:hover,
.btnPrimary:focus {
  background-color: var(--color-secondary-dark);
}

