@import url(https://cdn.angelin.dev/css/v1.0/app.css);:root {
  --color-main-gradient: linear-gradient(
      45deg,
      rgb(0, 175, 50) 0%,
      rgb(0, 175, 75) 25%,
      rgb(0, 175, 100) 50%,
      rgb(0, 175, 125) 75%,
      rgb(0, 175, 150) 100%
  );
  --color-primary: white;
  --color-secondary: rgb(245, 245, 245);
  --color-dark: rgb(20, 20, 20);
  --color-link: rgb(80, 130, 255);
  --color-main: rgb(0, 175, 100);
  --color-main-dark: rgb(0, 150, 75);
  --color-danger: rgb(200, 0, 0);
  --color-body: rgb(250, 250, 250);
  --border-primary: rgb(200, 200, 200);
  --border-secondary: rgb(150, 150, 150);
  --text-primary: black;
  --text-secondary: rgb(75, 75, 75);
  --container-margin: 15vw;
  --color-1: var(--color-main);
  --color-2: rgb(200, 0, 0);
  --color-3: rgb(200, 100, 0);
}

.btn,
.btn-outline {
  background-image: var(--color-main-gradient);
  background-color: var(--color-main);
  transition: all 0.05s linear;
  color: var(--color-primary);
  min-height: 2.25rem;
  border-radius: 3px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 8px 12px;
  min-width: 3rem;
  border: 0;
}

.btn:hover,
.btn-outline:hover {
  color: var(--color-primary);
  text-decoration: none;
}

.btn:hover,
.btn-outline:hover,
.btn[disabled],
[disabled].btn-outline {
  background-color: var(--color-main-dark);
}

.btn[disabled],
[disabled].btn-outline {
  cursor: default;
}

.btn.loading,
.loading.btn-outline {
  pointer-events: none;
  padding: 2px;
}

.btn.btn-dark,
.btn-dark.btn-outline {
  background-color: #0f0f0f;
  background-image: none;
}

.btn.btn-dark:hover,
.btn-dark.btn-outline:hover {
  background-color: #232323;
}

.btn.btn-danger,
.btn-danger.btn-outline {
  background-color: var(--color-danger);
  color: var(--color-primary);
  background-image: none;
}

.btn.btn-danger:hover,
.btn-danger.btn-outline:hover {
  background-color: #af0000;
}

.btn-outline {
  border: 2px solid var(--color-main);
  background-color: transparent;
  color: var(--color-main);
  background-image: none;
  transition: none;
}

.btn-outline:hover {
  background-color: var(--color-main);
  color: var(--color-primary);
}

.btn-outline.btn-dark {
  border-color: #0f0f0f;
  background-color: transparent;
  color: #0f0f0f;
  background-image: none;
}

.btn-outline.btn-dark:hover {
  background-color: #0f0f0f;
  color: var(--color-primary);
}

.btn-outline.btn-danger {
  border-color: var(--color-danger);
  background-color: transparent;
  color: var(--color-danger);
  background-image: none;
}

.btn-outline.btn-danger:hover {
  background-color: var(--color-danger);
  color: var(--color-primary);
}

.loadingWheel {
  color: var(--color-main);
  width: 25px;
}

.loadingWheel-2 {
  color: var(--color-main);
  width: 50px;
}

.loadingWheel-3 {
  color: var(--color-main);
  width: 75px;
}

.loadingWheel-4 {
  color: var(--color-main);
  width: 100px;
}

input {
  width: 100%;
}

a.color-1 {
  color: var(--color-1);
}

a.color-2 {
  color: var(--color-2);
}

a.color-3 {
  color: var(--color-3);
}

.outline {
  transition: all 0.05s linear;
}

.outline:focus {
  box-shadow: 0 0 0 1px var(--color-main-dark);
}

.ucfirst {
  text-transform: capitalize;
}

.caps {
  text-transform: uppercase;
}

@font-face {
  src: url("/storage/fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
}

@font-face {
  src: url("/storage/fonts/Raleway-VariableFont_wght.ttf");
  font-family: "Raleway";
}

@font-face {
  src: url("/storage/fonts/RobotoSlab-VariableFont_wght.ttf");
  font-family: "RobotoSlab";
}

@font-face {
  src: url("/storage/fonts/Nunito-Regular.ttf");
  font-family: "Nunito";
}

@font-face {
  src: url("/storage/fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat";
}

*,
*::before,
*::after {
  outline: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-body);
  color: var(--text-primary);
  font-family: Roboto;
}

#app {
  min-height: 100vh;
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.85);
  color: var(--color-main);
}

::selection {
  background-color: rgba(0, 0, 0, 0.85);
  color: var(--color-main);
}

a,
button {
  cursor: pointer;
}

a {
  transition: all 0.05s linear;
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-link);
}

textarea {
  font-family: inherit;
}

img,
svg,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

svg {
  width: 25px;
}

label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: text;
}

input {
  border: 1px solid var(--border-primary);
  transition: all 0.05s linear;
  border-radius: 2px;
  font-size: 1rem;
  padding: 8px;
}

input:focus {
  box-shadow: 0 0 0 2px var(--color-main);
}

