@keyframes slide-in {
    from {
        transform: translate(-50%, 20vh);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 30vh);
        opacity: 1;
    }
}

@keyframes shrink-out {
    from {
        transform: translate(-50%, 30vh) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, 30vh) scale(0.5);
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}

@keyframes fade-out {
    from {
        opacity: 0.25;
    }
    to {
        opacity: 0;
    }
}